{{>header}}


{{#each listainscritoslarge}}	
<table class="table table-striped">
  <th colspan=6>{{this.curso}} <a href='cerrarcurso?id={{this.idcurso}}' >Cerrar Curso</a></th>	  
  <tr>
    <td>ID</td><td>NOMBRE</td><td>CORREO</td><td>TELEFONO</td>><td>ROL</td><td>DETALLE</td>
  </tr>
    {{#each this.inscrito}}	
        <tr>
            <td>{{this.id}}</td><td>{{this.nombre}}</td><td>{{this.correo}}</td><td>{{this.telefono}}</td><td>{{this.rol}}</td><td><a href='eliminarinscripcion?iduser={{this.id}}&idcurso={{listainscritoslarge.idcurso}}' >eliminar inscripcion </a></td>
        </tr>
    {{/each}}
</table>

{{/each}}



{{>footer}}